.App {
  text-align: center;
}
.container__pages {
  background-color: #c8d6e5;
  min-height: 100vh;
  flex-grow: 1;
  }
ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  background-color: #d1dfee;
}
.menu_element {
  display: flex;
  height: 40px;
  justify-content: left;
  align-items: center;
  color: black;
  transition: 0.4s;
}
.menu_element:hover {
  color: white;
  background-color: rgb(68, 68, 68);
}
a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.icon {
  padding-left: 15px;
  padding-right: 15px;
}
.label {
  line-height: 40px;
  padding-right: 10px;
  padding-bottom: 1px;
}
.container {
  display: flex;
}


